<div class="row">
    <div class="col-md-12">
        <p>Include test</p>
    </div>
</div>
<script type="text/javascript" src="{{asset("bundles/uebusaito/javascript/page_controller_action/IncludeTest.js")}}"></script>