<div id="{% block panelId %}{% endblock %}" class="mdc-card module {% block panelClass %}{% endblock %}">
    <div class="settings">
        <i class="material-icons drag">drag_handle</i>
    </div>
    <div class="title">
        {% block moduleHeaderIcon %}{% endblock %}
        <h3 class="mdc-typography--title">{% block moduleHeader %}{% endblock %}</h3>
    </div>
    <div class="mdc-typography--body1">{% block moduleContainer %}{% endblock %}</div>
    <div class="mdc-card__actions">{% block moduleFooter %}{% endblock %}</div>
</div>