<div id="{% block panelId %}{% endblock %}" class="panel {% block panelClass %}{% endblock %}">
    <div class="module_settings">
        <i class="module_move ui-sortable-handle fa fa-arrows"></i>
    </div>
    <div class="panel-heading">
        {% block moduleHeaderIcon %}{% endblock %}
        <h3 class="panel-title display_inline">{% block moduleHeader %}{% endblock %}</h3>
    </div>
    <div class="panel-body">{% block moduleContainer %}{% endblock %}</div>
    <div>{% block moduleFooter %}{% endblock %}</div>
</div>