{% if (settingRow['template_column'] == 1) %}
    {% set templateColumnCenter = "8" %}
{% elseif (settingRow['template_column'] == 2 or settingRow['template_column'] == 3) %}
    {% set templateColumnCenter = "10" %}
{% elseif (settingRow['template_column'] == 4) %}
    {% set templateColumnCenter = "12" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{app.request.getLocale()}}">
    <head>
        <title>{{websiteName}}</title>
        {% block headMeta %}{% endblock %}
        {% block headLink %}{% endblock %}
    </head>
    <body class="mdc-typography">
        {% block headerContainer %}{% endblock %}
        <main class="mdc-toolbar-fixed-adjust">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-phone">
                        {% if (settingRow['template_column'] == 1 or settingRow['template_column'] == 2) %}
                            <div class="display_desktop">
                                {% block columnLeftContainer %}{% endblock %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
                        {% block columnCenterContainer %}{% endblock %}
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-phone">
                        {% if (settingRow['template_column'] == 1 or settingRow['template_column'] == 3) %}
                            <div class="display_desktop">
                                {% block columnRightContainer %}{% endblock %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>            
        </main>        
        {% block footerContainer %}{% endblock %}
        {% block bodyIncludeDown %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>