<div class="captcha">
    <i class="fa fa-retweet icon"></i>
    <img src="data:image/png;base64,{{ captcha }}" alt="Captcha image"/>
    <input type="text" name="captcha" value="" size="7" maxlength="7"/>
</div>