{% if app.session.flashBag.has("warning") %}
    {% set class = "alert alert-warning" %}
    {% set style = "display: block;" %}
    {% set type = "warning" %}
{%else%}
    {% set class = "" %}
    {% set style = "display: none;" %}
    {% set type = "" %}
{% endif %}

<div id="flashBag" class="{{class}}" style="{{style}}">
    <i id="flashBag_close" class="fa fa-close"></i>
    <div class="content">
        {% for value in app.session.flashbag.get(type) %}
            <p>{{value}}</p>
        {% endfor %}
    </div>
</div>
<div id="flashBag_popup">
    <i id="flashBag_popup_close" class="fa fa-close"></i>
    <div class="content"></div>
</div>
