<div id="loader">
    <p class="text">{% trans %}loading_1{% endtrans %}</p>
    <img class="image" src="{{asset("bundles/uebusaito/images/templates/" ~ settings['template'] ~ "/loading.gif")}}" alt="loading.gif"/>
</div>