<div class="margin_bottom">
    <button class="btn btn-primary refresh">Refresh</button>
    <button class="btn btn-danger delete_all">Delete all</button>
</div>
<div class="input-group search_input pull-right margin_bottom">
    <input class="form-control" type="text" placeholder="{% trans %}table_1{% endtrans %}" value="{{response.values.search.value}}"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
<div class="clearfix"></div>
<ul class="pagination-controle pagination margin_clear">
    <li class="previous">
        <a href="#">{% trans %}table_2{% endtrans %}</a>
    </li>
    <li>
        <span class="text">{{response.values.pagination.text}}</span>
    </li>
    <li class="next">
        <a href="#">{% trans %}table_3{% endtrans %}</a>
    </li>
</ul>
<div class="table_spinner">
    <i class="display_none fa fa-cog fa-spin fa-5x"></i>
</div>