<div id="upload">
    <input class="file" type="file" name="file"/>
    <div class="text"></div>
    <div class="row">
        <div class="col-md-8">
            {{-include("UebusaitoBundle::include/progressBar.html.twig")-}}
        </div>
        <div class="col-md-2">
            <input class="start" type="button" value="Start"/>
        </div>
        <div class="col-md-2">
            <input class="abort" type="button" value="Abort"/>
        </div>
    </div>
</div>