<div class="horizontal_center margin_top">
    <i class="fa fa-exclamation-triangle fa-5x margin_top"></i>
    <h1 class="h1_big">{% trans %}error_1{% endtrans %} {{app.request.get("error")}}</h1>
</div>