@media (max-width: 839px) { /* line 13, ../../scss/system/utility.scss */
  .display_desktop { display: none !important; }
  /* line 16, ../../scss/system/utility.scss */
  .display_mobile { display: block !important; } }
@media (min-width: 840px) { /* line 21, ../../scss/system/utility.scss */
  .display_desktop { display: block !important; }
  /* line 24, ../../scss/system/utility.scss */
  .display_mobile { display: none !important; } }
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/* line 45, ../../scss/system/utility.scss */
.user_touch_none { -ms-touch-action: none; touch-action: none; }

/* line 50, ../../scss/system/utility.scss */
.user_select_none { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* line 57, ../../scss/system/utility.scss */
.clearfix::after { content: ""; clear: both; }

/* line 62, ../../scss/system/utility.scss */
.margin_top { margin-top: 20px !important; }

/* line 65, ../../scss/system/utility.scss */
.margin_top_clear { margin-top: 0 !important; }

/* line 69, ../../scss/system/utility.scss */
.align_left { text-align: left; }

/* line 72, ../../scss/system/utility.scss */
.align_center { text-align: center; }

/* line 75, ../../scss/system/utility.scss */
.align_right { text-align: right; }

/*html { position: relative; min-height: 100%;
}

body { margin: 0px auto; overflow-x: hidden; z-index: 1;
}

fieldset { border: 1px solid #dddddd !important; padding: 0 20px !important; argin-bottom: 10px !important;
}

legend { width: inherit; padding: 0 10px; border-bottom: none;
}

.cursor_pointer { cursor: pointer;
}

.line_through { text-decoration: line-through;
}

.word_break { -ms-word-break: break-all; word-break: break-all;  -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}

.position_relative { position: relative;
}
.position_absolute { position: absolute;
}

.float_right { float: right;
}

.clearfix::after { content: ""; clear: both;
}

.visibility_hidden { visibility: hidden;
}

.display_none { display: none;
}
.display_block { display: block;
}
.display_inline { display: inline;
}
.display_inline_block { display: inline-block;
}

.margin_top { margin-top: 20px;
}
.margin_bottom { margin-bottom: 20px;
}
.margin_left { margin-left: 20px;
}
.margin_right { margin-right: 20px;
}
.margin_panel { margin: 10px;
}
.margin_clear { margin: 0;
}
.margin_clear_top { margin-top: 0;
}
.margin_clear_bottom { margin-bottom: 0;
}
.margin_clear_left { margin-left: 0;
}
.margin_clear_right { margin-left: 0;
}
.margin_auto { margin: auto;
}

.padding_clear { padding: 0;
}

.vertical_top { vertical-align: top;
}
.vertical_middle { vertical-align: middle;
}
.horizontal_left { text-align: left;
}
.horizontal_center { text-align: center;
}
.horizontal_right { text-align: right;
}

.overflow_hidden { overflow: hidden;
}
.overflow_y_hidden { overflow-x: auto; overflow-y: hidden;
}
.overflow_y_auto { overflow-x: auto; overflow-y: auto;
}

.sortable_column_enabled { border: 1px solid red; margin: 10px; padding: 1px 1px 10px 1px;
}
.sortable_placeholder { border: 1px dotted black; margin-bottom: 20px;
}

.ui-sortable-handle { cursor: move;
}

.module_settings { display: none; position: absolute; top: -15px; left: -15px; background-color: #ffffff; border: 1px solid; padding: 3px; z-index: 1004;
}

.progressBar { margin-bottom: 0px !important;  .progress-bar { span { margin-left: 5px; color: #000000; } }
}

.rotate_45 { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);
}
.rotate_135 { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);
}
.rotate_225 { -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); transform: rotate(225deg);
}
.rotate_315 { -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg); -ms-transform: rotate(315deg); -o-transform: rotate(315deg); transform: rotate(315deg);
}

.ui-resizable-e { width: 15px;
}*/

/*# sourceMappingURL=include_test.css.map */
