<h3>{% trans %}modules_selection_1{% endtrans %}</h3>
<div id="cp_modules_selection_desktop" class="display_desktop">
    <div id="cp_modules_selection_desktop_result">
        {{-include("UebusaitoBundle::render/control_panel/modules_selection_desktop.html.twig")-}}
    </div>
    
    <button id="cp_modules_selection_send" class="btn btn-primary" type="button">{% trans %}button_4{% endtrans %}</button>
</div>
<div id="cp_modules_selection_mobile" class="display_mobile">
    {% form_theme form "bootstrap_3_layout.html.twig" %}

    <div class="row">
        <div class="col-md-6">
            <form id="form_cp_modules_selection" action="{{path("cp_modules_selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                {{form_row(form.id, {'label': "modules_selection_2"})}}

                {{form_widget(form._token)}}

                <input class="btn btn-primary" type="submit" value="{% trans %}button_4{% endtrans %}"/>
            </form>
        </div>
    </div>
</div>

<div id="cp_module_selection_result"></div>