<h3>{% trans %}role_deletion_1{% endtrans %}</h3>

<p>{% trans %}role_deletion_2{% endtrans %}</p>

<button id="cp_role_deletion" class="btn btn-primary" type="button">{% trans %}button_2{% endtrans %}</button>