{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<form id="form_cp_payment_user_selection" action="{{path("cp_payment_user_selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
    <fieldset class="accordion_container">
        <legend>{% trans %}paymentUserSelection_1{% endtrans %}</legend>
        <p>{% trans %}paymentUserSelection_2{% endtrans %}</p>
        <button class="mdc-button mdc-button--dense mdc-button--raised button_accordion" type="button" disabled>{% trans %}index_14{% endtrans %}</button>
        <div class="accordion">
            {{form_row(form.userId, {'label': "paymentUserSelection_3"})}}

            {{form_widget(form._token)}}

            {{form_widget(form.submit, {'label': "index_12", 'dense': "", 'raised': ""})}}
        </div>
    </fieldset>
</form>