{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<fieldset>
    <legend>{% trans %}roleUserCreation_1{% endtrans %}</legend>
    <p>{% trans %}roleUserCreation_2{% endtrans %}</p>
    <form id="form_cp_roleUser_creation" action="{{path("cp_roleUser_creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.level, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "supervisor_account"})}}

        {{form_widget(form._token)}}

        {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
    </form>
</fieldset>