<h3 class="form_title">{% trans %}page_deletion_1{% endtrans %}</h3>
<p>{% trans %}page_deletion_2{% endtrans %}</p>
<button id="cp_page_deletion" class="button_custom_danger" type="button">{% trans %}button_2{% endtrans %}</button>