{% form_theme form "bootstrap_3_layout.html.twig" %}

<div>
    <h3 class="form_title">{% trans %}payment_user_selection_1{% endtrans %}</h3>
    <form id="form_cp_payment_user_selection" action="{{path("cp_payment_user_selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.userId, {'label': "payment_user_selection_2"})}}

        {{form_widget(form._token)}}

        <input class="button_custom" type="submit" value="{% trans %}index_12{% endtrans %}"/>
    </form>
</div>