<!DOCTYPE html>
<html>
    <head>
        <title>Kasutamu mono 2D</title>
        <!-- Meta -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
        <!-- Favicon -->
        <link href="https://ls1.reinventsoftware.org/uebusaito/symfony_fw/public/microservice/api/kasutamu_mono_2d/favicon.ico" rel="icon" type="image/x-icon">
        <!-- Css -->
        <link href="https://ls1.reinventsoftware.org/uebusaito/symfony_fw/public/microservice/api/kasutamu_mono_2d/kasutamu_mono_2d.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="custom_product">
            <div class="container_main">
                <div class="container_main_color"></div>
                <div class="container_main_label"></div>
                <button class="preview_save">Preview</button>
                <p class="result_preview"></p>
            </div>
            <div class="container_canvas">
                <canvas class="canvas" width="500" height="600"></canvas>
                <img class="loading_canvas" src="https://ls1.reinventsoftware.org/uebusaito/symfony_fw/public/microservice/api/kasutamu_mono_2d/loading.gif"/>
            </div>
            <div class="container_accessory"></div>
        </div>
        <script src="https://ls1.reinventsoftware.org/uebusaito/symfony_fw/public/microservice/api/kasutamu_mono_2d/jquery_3.3.1.min.js"></script>
        <script src="https://ls1.reinventsoftware.org/uebusaito/symfony_fw/public/microservice/api/kasutamu_mono_2d/KasutamuMono2d.js"></script>
        <script src="https://ls1.reinventsoftware.org/uebusaito/symfony_fw/public/microservice/api/kasutamu_mono_2d/Index.js"></script>
    </body>
</html>