<h3>{% trans %}module_deletion_1{% endtrans %}</h3>

<p>{% trans %}module_deletion_2{% endtrans %}</p>

<button id="cp_module_deletion" class="btn btn-primary" type="button">{% trans %}button_2{% endtrans %}</button>