<h3>{% trans %}payment_deletion_1{% endtrans %}</h3>

<p>{% trans %}payment_deletion_2{% endtrans %}</p>

<button id="cp_payment_deletion" class="button_custom_danger" type="button">{% trans %}button_2{% endtrans %}</button>