<h3>{% trans %}user_deletion_1{% endtrans %}</h3>

<p>{% trans %}user_deletion_2{% endtrans %}</p>

<button id="cp_user_deletion" class="btn btn-primary" type="button">{% trans %}button_2{% endtrans %}</button>