<p>{% trans %}myPagePaymentDeletion_1{% endtrans %}</p>
<button id="myPage_payment_deletion" class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg" type="button">{% trans %}myPagePaymentDeletion_2{% endtrans %}</button>