<div id="search_result">
    
    {{-include("@templateRoot/include/table_and_pagination.html.twig")-}}
    
    <i class="material-icons rotate_loop table_loading">autorenew</i>
    <div class="list_result">
        {{response.values.listHtml|raw}}
    </div>
</div>