$widthMobile: "839px";
$widthDesktop: "840px";

@mixin opacity($value) {
    $msOpacity: $value * 100;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$msOpacity})";
    filter: alpha(opacity=$msOpacity);
    opacity: $value;
}

@media(max-width: $widthMobile) {
    .display_desktop {
        display: none !important;
    }
    .display_mobile {
        display: block !important;
    }
}
@media(min-width: $widthDesktop) {
    .display_desktop {
        display: block !important;
    }
    .display_mobile {
        display: none !important;
    }
}

@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

.user_select_none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user_touch_none {
    -ms-touch-action: none;
    touch-action: none;
}

.clearfix::after {
    content: "";
    clear: both;
}