{% if settingRow.captcha == true %}
    <div class="textField_container captcha">
        <img src="data:image/png;base64,{{captchaImage}}" alt="Captcha image"/>
        <div class="mdc-text-field">
            <input class="mdc-text-field__input" type="text" name="captcha" size="8" maxlength="7"/>
            <label class="mdc-text-field__label" for="mdc-text-field__input">Captcha</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <p class="mdc-text-field-helper-text" style="display: none;" aria-hidden="true">Captcha</p>
    </div>
{% endif %}