<div id="loader">
    <p class="text">{% trans %}loader_1{% endtrans %}</p>
    <img class="image" src="{{asset("bundles/uebusaito/images/templates/" ~ settingRow['template_name'] ~ "/loader_loading.gif")}}" alt="loading.gif"/>
</div>