{% if (settingRow['template_style'] == 1) %}
    {% set templateStyleColumnCenter = "8" %}
{% elseif (settingRow['template_style'] == 2 or settingRow['template_style'] == 3) %}
    {% set templateStyleColumnCenter = "10" %}
{% elseif (settingRow['template_style'] == 4) %}
    {% set templateStyleColumnCenter = "12" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{app.request.getLocale()}}">
    <head>
        <title>{{websiteName}}</title>
        {% block headMeta %}{% endblock %}
        {% block headLink %}{% endblock %}
    </head>
    <body class="user_select_none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 container_header">
                    {% block headerContainer %}{% endblock %}
                </div>
            </div>
            <div class="row">
                {% if (settingRow['template_style'] == 1 or settingRow['template_style'] == 2) %}
                    <div class="col-md-2 container_left display_desktop">
                        {% block columnLeftContainer %}{% endblock %}
                    </div>
                {% endif %}
                <div class="col-md-{{templateStyleColumnCenter}} container_center">
                    {% block columnCenterContainer %}{% endblock %}
                </div>
                {% if (settingRow['template_style'] == 1 or settingRow['template_style'] == 3) %}
                    <div class="col-md-2 container_right display_desktop">
                        {% block columnRightContainer %}{% endblock %}
                    </div>
                {% endif %}
            </div>
        </div>
        <footer class="footer_fix">{% block footerContainer %}{% endblock %}</footer>
        {% block bodyIncludeDown %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>