<div id="search_render">
    {{-include("@UebusaitoBundleViews/include/table_and_pagination.html.twig")-}}
    
    <p class="text">{% trans %}search_render_1{% endtrans %} {{response.values.countResults}}</p>
    {{response.values.list|raw}}
</div>