<div id="search_result">
    {{-include("UebusaitoBundle::include/table.html.twig")-}}
    
    <p class="text">{% trans %}search_result_1{% endtrans %} {{response.values.results|length}}</p>
    {{response.values.list|raw}}
</div>