<div class="display_desktop">
    <div class="button_authentication_desktop"><i class="fa fa-user-circle fa-4x">&nbsp;</i></div>
    {{-render(controller("UebusaitoBundle:Authentication:module", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
</div>