<div class="row">
    <div class="col-md-12 margin_top">
        <div class="footer_icons">
            <div>
                <i class="fa fa-desktop"></i>
            </div>
            <div>
                <i class="fa fa-laptop"></i>
            </div>
            <div>
                <i class="fa fa-mobile"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Copyright © 2017 - Reinvent software.</p>
        <p>Tutti i diritti riservati.</p>
    </div>
</div>